main {
    max-width: 600px;
    margin: 3rem auto;
    padding: 0 2rem;
}

h1 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

#addPlaylistForm {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

input[type="text"], 
textarea {
    background-color: #282828;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 1rem;
    color: white;
    margin-bottom: 1.5rem;
    font-family: inherit;
}

input:focus, textarea:focus {
    outline: 2px solid #1DB954;
}

input[type="submit"] {
    background-color: #1DB954;
    color: white;
    border: none;
    border-radius: 500px;
    padding: 1rem;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end;
    padding: 1rem 3rem;
    transition: transform 0.2s;
}

input[type="submit"]:hover {
    transform: scale(1.05);
    background-color: #1ed760;
}

.error-box {
    text-align: center;
    background-color: #181818;
    padding: 3rem;
    border-radius: 8px;
}

#statusMessage {
    margin-top: 1rem;
    font-weight: bold;
    text-align: center;
}